body {
    background: #444;
    width: 100%;
    animation: turn-red 2000ms;
    animation-delay: 4s;
}

@keyframes turn-red {
    from {  background: #444; }
    to { background: darkred; }
}

.box {
    z-index: 1;
    background: linear-gradient(to top, crimson, darkred);
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateZ(45deg);
    border: black solid 1px;
    animation: get-in-the-box 3000ms, moveBox 3000ms;
    animation-delay: 3s;
}

@keyframes get-in-the-box {
    from { width: 25%; padding-bottom: 25%;}
    to { width: 40%; padding-bottom: 40%;}
}

@keyframes moveBox {
    from { transform: rotateX(80deg) rotateZ(45deg) ;}
    to { transform: rotateX(37deg) rotateZ(45deg) ;}
}

.box::before, .box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    background: inherit;
    border: black solid 1px;
}

.box::before {
    background: linear-gradient(to bottom, crimson, darkred);
    top: 100%;
    left: 0;
    transform: rotateX(-90deg);
    border-right: none;
}

.box::after {
    background: linear-gradient(to right, crimson, darkred);
    top: 0;
    left: 100%;
    transform: rotateY(90deg);
}

.top {
    z-index: 2;
    background: linear-gradient(to left, crimson, darkred);
    position: absolute;
    left: 37.5%;
    top: -1%;
    margin: 0 auto;
    width: 26%;
    padding-bottom: 26%;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateZ(45deg);
    border: black solid 1px;
    animation:  open-present 3000ms ease-out;
}

@keyframes open-present {
    from {transform: rotateX(80deg) rotateZ(45deg) translateZ(0); }
    to {transform: rotateX(80deg) rotateZ(45deg) translateZ(150px); }
}

.top::before, .top::after {
    content: '';
    position: absolute;
    transform-origin: 0 0;
    background: inherit;
    border: black solid 1px;
}

.top::before {
    background: linear-gradient(to bottom, crimson, darkred);
    width: 100%;
    height: 25%;
    top: 100%;
    left: 0;
    transform: rotateX(-90deg);
    border-top: none;
    border-right: none;
}

.top::after {
    background: linear-gradient(to right, crimson, darkred);
    width: 25%;
    height: 100%;
    top: 0;
    left: 100%;
    transform: rotateY(90deg);
    border-left: none;
    border-top: none;
}

.line-top {
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    border: darkgreen solid 1px;
}

.line-top::before {
    content: '';
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateZ(90deg);
    border: darkgreen solid 1px;
}

.line-top-right-side {
    border: darkgreen solid 1px;
    border-bottom: none;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 25%;
    right: -15%;
    top: 43%;
    transform: rotateZ(-90deg) rotateX(-90deg) translateY(45%);
}

.line-top-left-side {
    border: darkgreen solid 1px;
    border-bottom: none;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 25%;
    top: 100%;
    left: 52%;
    transform: rotateX(90deg) translateY(-38%);
}

/*.line-box-right {*/
/*    border: darkgreen solid 1px;*/
/*    border-bottom: none;*/
/*    z-index: -1;*/
/*    background: linear-gradient(to right, green, darkgreen);*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    top: 60%;*/
/*    left: 50%;*/
/*    transform: rotateX(90deg) translateY(-48%);*/
/*}*/

.line-box-left {
    border: darkgreen solid 1px;
    border-bottom: none;
    z-index: -1;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    top: 50.5%;
    left: 40%;
    transform: rotateX(90deg) translateY(-50%);
}

.line-box-right {
    z-index: -1;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    top: 1%;
    left: 90.5%;
    transform: rotateZ(270deg) rotateX(90deg) translateY(-50.5%);
}
