body {
    background: #444;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flash {
    z-index: 10;
    display: inline;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: transparent;
    animation: flashing 2500ms;
    animation-delay: 4s;
}

@keyframes flashing {
    from {
        background: transparent;
    }
    to {
        background: white;
    }
}

.box {
    z-index: 1;
    background: linear-gradient(to top, crimson, darkred);
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateZ(45deg);
    border: black solid 1px;
    animation: get-in-the-box 3000ms, moveBox 3000ms;
    animation-delay: 3s;
}

@keyframes get-in-the-box {
    from {
        width: 25%;
        padding-bottom: 25%;
    }
    to {
        width: 80%;
        padding-bottom: 80%;
    }
}

@keyframes moveBox {
    from {
        transform: rotateX(80deg) rotateZ(45deg);
    }
    to {
        transform: rotateX(37deg) rotateZ(45deg);
    }
}

.box::before, .box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    background: inherit;
    border: black solid 1px;
}

.box::before {
    background: linear-gradient(to bottom, crimson, darkred);
    top: 100%;
    left: 0;
    transform: rotateX(-90deg);
    border-right: none;
}

.box::after {
    background: linear-gradient(to right, crimson, darkred);
    top: 0;
    left: 100%;
    transform: rotateY(90deg);
}

.shine {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background: radial-gradient(circle, white 0%, transparent 100%);
    animation: spin 10s infinite linear;
}

.shine::before, .shine::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    height: inherit;
    width: inherit;
}

.shine::before {
    transform: rotate(30deg);
}

.shine::after {
    transform: rotate(60deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg) translateZ(0);
    }
    100% {
        transform: rotate(360deg) translateZ(0);
    }
}

.top {
    z-index: 2;
    background: linear-gradient(to left, crimson, darkred);
    position: absolute;
    left: 37%;
    top: -1%;
    margin: 0 auto;
    width: 26%;
    padding-bottom: 26%;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateZ(45deg);
    border: black solid 1px;
    animation: open-present 3000ms ease-out;
}

@keyframes open-present {
    from {
        transform: rotateX(80deg) rotateZ(45deg) translateZ(0);
    }
    to {
        transform: rotateX(80deg) rotateZ(45deg) translateZ(150px);
    }
}

.top::before, .top::after {
    content: '';
    position: absolute;
    transform-origin: 0 0;
    background: inherit;
    border: black solid 1px;
}

.top::before {
    background: linear-gradient(to bottom, crimson, darkred);
    width: 100%;
    height: 25%;
    top: 100%;
    left: 0;
    transform: rotateX(-90deg);
    border-top: none;
    border-right: none;
}

.top::after {
    background: linear-gradient(to right, crimson, darkred);
    width: 25%;
    height: 100%;
    top: 0;
    left: 100%;
    transform: rotateY(90deg);
    border-left: none;
    border-top: none;
}

.line-top {
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    left: 40%;
    border: darkgreen solid 1px;
}

.line-top::before {
    content: '';
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateZ(90deg);
    border: darkgreen solid 1px;
}

.line-top-right-side {
    border: darkgreen solid 1px;
    border-bottom: none;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 25%;
    right: -15%;
    top: 43%;
    transform: rotateZ(-90deg) rotateX(-90deg) translateY(45%);
}

.line-top-left-side {
    border: darkgreen solid 1px;
    border-bottom: none;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 25%;
    top: 100%;
    left: 52%;
    transform: rotateX(90deg) translateY(-38%);
}

/*.line-box-right {*/
/*    border: darkgreen solid 1px;*/
/*    border-bottom: none;*/
/*    z-index: -1;*/
/*    background: linear-gradient(to right, green, darkgreen);*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 100%;*/
/*    top: 60%;*/
/*    left: 50%;*/
/*    transform: rotateX(90deg) translateY(-48%);*/
/*}*/

.line-box-left {
    border: darkgreen solid 1px;
    border-bottom: none;
    z-index: -1;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    top: 50.5%;
    left: 40%;
    transform: rotateX(90deg) translateY(-50%);
}

.line-box-right {
    z-index: -1;
    background: linear-gradient(to right, green, darkgreen);
    position: absolute;
    width: 20%;
    height: 100%;
    top: 1%;
    left: 90.5%;
    transform: rotateZ(270deg) rotateX(90deg) translateY(-50.5%);
}

.open-page {
    /*display: none;*/
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: radial-gradient(ellipse at top right, cornflowerblue 0%, #1B2957 100%);
}

.open-page #logo {
    z-index: 12;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 25%;
    text-align: center;
    background: linear-gradient(to right, transparent, black);
    width: 50em;
    height: 15em;
    opacity: .8;
}

.open-page h1 {
    font-family: "Lobster";
    position: absolute;
    top: -.5em;
    left: 1.5em;
    font-style: oblique;
    color: white;
    font-size: 8em;
    display: inline-block;
}

.open-page h2 {
    position: absolute;
    left: 3.5em;
    bottom: .5em;
    font-family: "Lobster";
    color: white;
    font-size: 2em;
    display: inline-block;
    margin-top: 0;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: -90px;
    border-width: 35em 25em;
    border-style: solid;
    border-color: transparent transparent #93A4B4 transparent;
    z-index: 2;
}

.peak-snow {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}

.shadow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 540px;
}

.shadow.b {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    opacity: 0.7;
    width: 676px;
    height: 400px;
}

.mountain.b {
    border-color: transparent transparent #657084 transparent;
    bottom: 0;
    position: absolute;
    left: 30%;
    border-width: 25em 20em;
    border-style: solid;
    z-index: 2;
}

.shape-peak {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%);
}

.ground {
    z-index: 2;
    background-color: ivory;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ground > div {
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    transform: perspective(.5em) rotateX(5deg);
    transform-origin: bottom;
}

.hill {
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.hill.a {
    background-color: inherit;
    width: 400px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: 30px;
    transform: perspective(.4em) rotateX(8deg);
}

.hill.b {
    background-color: inherit;
    width: 400px;
    height: 90px;
    position: absolute;
    top: -90px;
    right: 200px;
}

.hill.c {
    background-color: inherit;
    width: 300px;
    height: 220px;
    position: absolute;
    top: -220px;
    right: 400px;
}

.hill.d {
    background-color: inherit;
    width: 400px;
    height: 230px;
    position: absolute;
    top: -250px;
    right: 150px;
    transform: perspective(.5em) rotateX(7deg);
}

.hill.e {
    background-color: inherit;
    width: 200px;
    height: 60px;
    position: absolute;
    top: -60px;
    right: 600px;
}

.hill.f {
    background-color: inherit;
    width: 200px;
    height: 20px;
    position: absolute;
    top: -20px;
    right: 700px;
}

.hill.g {
    background-color: inherit;
    width: 400px;
    height: 100px;
    position: absolute;
    top: -100px;
    right: 70%;
    transform: perspective(.6em) rotateX(8deg);
}

.hill.h {
    background-color: inherit;
    width: 150px;
    height: 40px;
    position: absolute;
    top: -40px;
    left: 0;
}

.hill.i {
    background-color: inherit;
    width: 150px;
    height: 70px;
    position: absolute;
    top: -90px;
    left: 70px;
}

/*tree*/
.tree {
    position: absolute;
    left: 75%;
    bottom: 10%;
}

.triangle {
    z-index: 5;
    position: absolute;
    bottom: 10%;
    left: 70%;
    border-width: 30em 5em;
    border-style: solid;
    border-color: transparent transparent #007800 transparent;
    transform: translateX(2px);
}

.triangle.a {
    z-index: 6;
    position: absolute;
    bottom: 10%;
    left: 70%;
    border-width: 30em 1em;
    border-style: solid;
    border-color: transparent transparent #009000 transparent;
    transform-style: preserve-3d;
    transform: skewY(10deg) translateX(65px) rotateZ(-5deg);
}

.triangle.b {
    z-index: 6;
    position: absolute;
    border-width: 30em 1em;
    border-style: solid;
    border-color: transparent transparent #00B000 transparent;
    transform-style: preserve-3d;
    transform: skewY(21deg) translateX(65px) rotateZ(-1.9deg);
}

.triangle.c {
    z-index: 7;
    position: absolute;
    border-width: 30em 1em;
    border-style: solid;
    border-color: transparent transparent #00A800 transparent;
    transform-style: preserve-3d;
    transform: skewY(-21deg) translateY(49px) translateX(66px) rotateZ(2deg);
}

.triangle.d {
    z-index: 6;
    position: absolute;
    bottom: 7%;
    left: 70%;
    border-width: 30em 1em;
    border-style: solid;
    border-color: transparent transparent #009000 transparent;
    transform-style: preserve-3d;
    transform: skewY(-10deg) translateY(20px) translateX(66px) rotateZ(5deg);
}

.ornament {
    z-index: 11;
    position: absolute;
    width: 9.7em;
    height: 30px;
    border-bottom: solid red 2px;
    border-radius: 50%;
    transform: translateX(7px) translateY(-40px) rotateZ(10deg);
    box-shadow: 1px 1px darkred;
}

.ornament:nth-child(1) {
    content: '';
    position: absolute;
    width: 9.7em;
    height: 30px;
    transform: translateX(7px) translateY(-40px) rotateZ(10deg);
}

.ornament:nth-child(2) {
    content: '';
    border-bottom: solid yellow 2px;
    box-shadow: 1px 1px darkgoldenrod;
    position: absolute;
    width: 8.7em;
    height: 30px;
    transform: translateX(10px) translateY(-90px) rotateZ(-10deg);
}

.ornament:nth-child(3) {
    content: '';
    border-bottom: solid darkmagenta 2px;
    box-shadow: 1px 1px rebeccapurple;
    position: absolute;
    width: 8em;
    height: 30px;
    transform: translateX(14px) translateY(-150px) rotateZ(-20deg);
}

.ornament:nth-child(4) {
    content: '';
    border-bottom: solid aqua 2px;
    box-shadow: 1px 1px cornflowerblue;
    position: absolute;
    width: 6.3em;
    height: 30px;
    transform: translateX(33px) translateY(-210px) rotateZ(15deg);
}

.ornament:nth-child(5) {
    content: '';
    border-bottom: solid hotpink 2px;
    box-shadow: 1px 1px deeppink;
    position: absolute;
    width: 5em;
    height: 20px;
    transform: translateX(42px) translateY(-260px) rotateZ(5deg);
}

.ornament:nth-child(6) {
    content: '';
    border-bottom: solid coral 2px;
    box-shadow: 1px 1px chocolate;
    position: absolute;
    width: 4.1em;
    height: 20px;
    transform: translateX(47px) translateY(-310px) rotateZ(-15deg);
}

.ornament:nth-child(7) {
    content: '';
    border-bottom: solid blue 2px;
    box-shadow: 1px 1px darkblue;
    position: absolute;
    width: 3.2em;
    height: 20px;
    transform: translateX(57px) translateY(-350px) rotateZ(10deg);
}

.ornament:nth-child(8) {
    content: '';
    border-bottom: solid tomato 2px;
    box-shadow: 1px 1px crimson;
    position: absolute;
    width: 2.3em;
    height: 10px;
    transform: translateX(63px) translateY(-390px) rotateZ(-15deg);
}

/*snowman*/
.snowman {
    display: inline-block;
    z-index: 5;
    position: relative;
    left: 5%;
    bottom: -70%;
}

.face {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 50px;
    left: 55px;
}

.shadow1 {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: -1px;
    box-shadow: 4px 0 0 2px rgba(0, 0, 0, 0.1);
}

.eyel, .eyer {
    background-color: #000000;
    height: 7px;
    width: 7px;
    border-radius: 25%;
    position: relative;
}

.eyel {
    top: 20px;
    left: 17px;
}

.eyer {
    top: 12px;
    left: 37px;
}

.snowman .face .nose {
    height: 0;
    width: 0;
    border-top: 15px solid #f7880f;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    position: relative;
    top: 17px;
    left: 28px;
}

.hat {
    height: 5px;
    width: 60px;
    background-color: #2b303a;
    position: relative;
    bottom: 27px;
    transform: rotate(20deg);
    border-radius: 2px;
    left: 7px;
}

.h-top {
    height: 0;
    width: 30px;
    border-bottom: 21px solid #2b303a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    bottom: 21px;
    left: 12px;

}

.snowman .body {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 45px;
    left: 35px;
}

.shadow2 {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    box-shadow: 4px 0 0 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 2px;
    right: 1px;
}

.scarf {
    height: 0;
    width: 10px;
    border-bottom: 25px solid #e63c33;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative;
    bottom: 45px;
    left: 97px;
    transform: rotate(-15deg);
}

.sc1 {
    background-color: #e74339;
    height: 17px;
    width: 60px;
    position: relative;
    bottom: 17px;
    right: 42px;
    border-radius: 5px;
    transform: rotate(15deg);
}

.sc2 {
    height: 0;
    width: 19px;
    border-bottom: 35px solid #e74339;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative;
    bottom: 22px;
    right: 12px;
    transform: rotate(0deg);
}

.buttons {
    position: relative;
    bottom: 60px;
    left: 45px;
}

.b1, .b2, .b3 {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #2b303a;
    margin-bottom: 10px;
}

.hand-l {
    background-color: #84382a;
    height: 2px;
    width: 50px;
    position: relative;
    bottom: 130px;
    right: 32px;
    transform: rotate(25deg);
}

.hand-r {
    background-color: #84382a;
    height: 2px;
    width: 50px;
    position: relative;
    bottom: 134px;
    transform: rotate(-25deg);
    left: 82px;
}

.s1 {
    background-color: #84382a;
    height: 2px;
    width: 15px;
    position: relative;
    bottom: 5px;
    left: 2px;
    transform: rotate(45deg);
}

.s2 {
    background-color: #84382a;
    height: 2px;
    width: 15px;
    position: relative;
    bottom: 5px;
    left: 32px;
    transform: rotate(-45deg);
}

/*second page*/
.second-page {
    z-index: 11;
    /*display: none;*/
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: radial-gradient(ellipse at top right, #1B2957 0%, blue 100%);*/
    background: linear-gradient(to bottom, #1B2957, blue);
}

.second-page .description {
    position: absolute;
    top: 25%;
    width: 50%;
    text-align: center;
}

.second-page .description h1 {
    color: white;
}

.icicle {
    position: absolute;
    top: 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.icicle:nth-child(1) {
    left: 10%;
    border-width: 7em 0.5em;
}

.icicle:nth-child(2) {
    left: 0;
    border-width: 7em 0.5em;
}

.icicle:nth-child(3) {
    left: 2%;
    border-width: 10em 1em;
}

.icicle:nth-child(4) {
    left: 85%;
    border-width: 15em 1em;
}

.icicle:nth-child(5) {
    left: 90%;
    border-width: 10em 1em;
}

.icicle:nth-child(6) {
    left: 70%;
    border-width: 5em 0.5em;
}

.icicle:nth-child(7) {
    left: 60%;
    border-width: 9em 0.5em;
}

.icicle:nth-child(8) {
    left: 40%;
    border-width: 8em 0.4em;
}

.icicle:nth-child(9) {
    left: 45%;
    border-width: 4em 0.2em;
}

.icicle:nth-child(10) {
    left: 30%;
    border-width: 11em 0.5em;
}

.icicle:nth-child(11) {
    right: 0;
    border-width: 12em 0.5em;
}

/*reindeer*/
.reindeer {
    position: absolute;
    top: 150px;
    left: 40px;
    /*transform: rotateZ(10deg);*/
}

.mouth {
    width: 50px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: chocolate;
    transform: perspective(.9em) rotateX(-10deg);
}

.mouth::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 16px;
    top: 6px;
    left: 2px;
    background-color: chocolate;
    transform: rotateZ(20deg);
}

.neck {
    z-index: 4;
    position: absolute;
    width: 80px;
    height: 20px;
    top: 38px;
    left: 29px;
    background-color: chocolate;
    transform: perspective(.9em) rotateX(10deg) rotateZ(-80deg);
}

.belly {
    z-index: 5;
    width: 90px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 70px;
    background-color: chocolate;
    transform: perspective(.3em) rotateX(-4deg);
    border-radius: 30%;
}

.belly::after {
    content: '';
    width: 90px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 88px;
    background-color: chocolate;
    border-radius: 50%;
    transform: translateX(-110px);
}

.leg-front-up {
    position: absolute;
    width: 40px;
    height: 15px;
    top: 133px;
    left: 24px;
    background-color: chocolate;
    transform: perspective(.9em) rotateX(-10deg) rotateZ(-80deg);
}

.leg-front-down {
    position: absolute;
    width: 50px;
    height: 7px;
    top: 186px;
    left: 38px;
    background-color: chocolate;
    transform: perspective(.5em) rotateX(-10deg) rotateZ(60deg);
}

.leg-front-behind {
    position: absolute;
    left: 20px;
}

.leg-behind {
    position: absolute;
    width: 60px;
    height: 7px;
    top: 188px;
    left: 131px;
    background-color: chocolate;
    transform: perspective(.5em) rotateX(-10deg) rotateZ(90deg);
}

.leg-behind-behind {
    position: absolute;
    width: 60px;
    height: 7px;
    top: 188px;
    left: 118px;
    background-color: chocolate;
    transform: perspective(.5em) rotateX(-10deg) rotateZ(90deg);
}

.reindeer .nose {
    position: absolute;
    top: 19px;
    left: 28px;
    border-width: 0.5em 0.2em;
    border-style: solid;
    border-color: #462620 transparent transparent;
}

.eye {
    position: absolute;
    top: 23px;
    left: 60px;
    height: 0.01em;
    width: 0.2em;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pupil {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 0.01em;
    width: 0.01em;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*.pupil::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: -3px;*/
/*    top: -3px;*/
/*    height: 0.01em;*/
/*    width: 0.01em;*/
/*    background-color: #00B000;*/
/*    border-style: solid;*/
/*    border-color: #00B000;*/
/*    border-bottom-left-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

.horn-start {
    position: absolute;
    top: 7px;
    left: 60px;
    width: 0.2em;
    height: 0.8em;
    background-color: #461906;
}

.horn-top {
    position: absolute;
    top: -36px;
    left: 27px;
    width: 3em;
    height: 2em;
    border-bottom: solid #461906 2px;
    transform: rotateZ(100deg);
    box-shadow: 3px 1px #461906;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.horn-side {
    position: absolute;
    top: -20px;
    left: 33px;
    width: 2em;
    height: 1em;
    border-bottom: solid #461906 2px;
    transform: rotateZ(100deg);
    box-shadow: 3px 1px #461906;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.horn2 {
    position: absolute;
    left: 130px;
    transform: rotateY(180deg);
}

.rope-mouth {
    z-index: 6;
    position: absolute;
    top: 21px;
    left: 35px;
    width: 1.5em;
    height: 0.5em;
    border-bottom: solid red 8px;
    border-radius: 50%;
    transform: rotateZ(-100deg);
    /*box-shadow: 1px 1px darkred;*/
}

.rope-connection {
    z-index: 6;
    position: absolute;
    top: 35px;
    left: 40px;
    width: 6em;
    height: 4em;
    border-bottom: solid red 2px;
    border-radius: 50%;
    transform: rotateZ(40deg);
}

.rope-connection2 {
    content: '';
    z-index: 3;
    position: absolute;
    top: 56px;
    left: 29px;
    width: 8em;
    height: 3em;
    border-bottom: solid red 2px;
    border-radius: 50%;
    transform: rotateZ(50deg);
}

.rope-body {
    z-index: 7;
    position: absolute;
    top: 64px;
    left: 50px;
    width: 3.7em;
    height: 4.5em;
    border-bottom: solid red 30px;
    border-radius: 50%;
    transform: rotateZ(-100deg);
}

.tail {
    position: absolute;
    top: 90px;
    left: 145px;
    border-width: 0.4em 1.5em;
    border-style: solid;
    border-color: transparent chocolate transparent transparent;
    transform: rotateZ(-25deg);
}

/*sleigh*/
.sleigh {
    position: absolute;
    top: 200px;
    left: 300px;
    transform: rotateY(-180deg);
}

.spiral {
    transform: rotateZ(100deg);
}

.sleigh .line {
    position: absolute;
    top: 7.84em;
    left: -2em;
    width: 9em;
    border: 2px grey solid;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 20%;
}

.sleigh .tri {
    position: absolute;
    top: 6.1em;
    left: 0;
    border-style: solid;
    border-width: 1em 0.5em;
    border-color: transparent transparent grey transparent;
}

.sleigh .tri::after {
    content: '';
    position: absolute;
    top: -1em;
    left: 1em;
    border-style: solid;
    border-width: 1em 0.5em;
    border-color: transparent transparent grey transparent;
}

.sleigh .tri::before {
    content: '';
    position: absolute;
    top: -1em;
    left: 2.5em;
    border-style: solid;
    border-width: 1em 0.5em;
    border-color: transparent transparent grey transparent;
}

.sleigh .square {
    z-index: 2;
    position: absolute;
    top: 4.2em;
    left: -2em;
    width: 5em;
    height: 3em;
    background-color: green;
    border-radius: 20%;
    border-top: solid 1px red;
}

.sleigh .square::after {
    content: '';
    position: absolute;
    top: 1.43em;
    left: 3em;
    width: 4.7em;
    height: 1.55em;
    background-color: green;
}

.sleigh .square::before {
    content: '';
    position: absolute;
    top: .5em;
    left: 6.43em;
    width: 1.25em;
    height: 2em;
    background-color: green;
    border-radius: 20%;
}

.sleigh .little-santa {
    z-index: 3;
    font-size: 0.7em;
    transform: translateX(3.1em) translateY(-16em);
}

.sleigh .body-little-santa {
    position: absolute;
    top: 0;
    left: 0;
    height: 5em;
    width: 4em;
    background-color: red;
    border-style: solid;
    border-color: red;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    transform: rotateZ(180deg);
}

.sleigh .head-little-santa .face-little-santa {
    z-index: 0;
    position: absolute;
    top: -1em;
    left: .5em;
    height: 2.5em;
    width: 3em;
    background-color: wheat;
    border-style: solid;
    border-color: wheat;
    border-radius: 50%;
    box-shadow: 0 10px white;
    /*box-sizing: border-box;*/
}

.sleigh .head-little-santa .eyel-little-santa {
    position: absolute;
    top: 0;
    left: 1.4em;
    height: .5em;
    width: .5em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .head-little-santa .eyel-little-santa::after {
    content: '';
    position: absolute;
    top: .1em;
    left: .1em;
    height: .3em;
    width: .3em;
    background-color: black;
    border-radius: 50%;
}

.sleigh .head-little-santa .eyer-little-santa {
    position: absolute;
    top: 0;
    left: 2.1em;
    height: .5em;
    width: .5em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .head-little-santa .eyer-little-santa::after {
    content: '';
    position: absolute;
    top: .1em;
    left: .1em;
    height: .3em;
    width: .3em;
    background-color: black;
    border-radius: 50%;
}

.sleigh .head-little-santa .mouth-little-santa {
    position: absolute;
    top: .4em;
    left: 1.8em;;
    width: .5em;
    height: .7em;
    border-bottom: solid #df6b69 2px;
    border-radius: 50%;
}

.sleigh .hat-little-santa .hat-top {
    position: absolute;
    top: -8em;
    left: .1em;
    border-style: solid;
    border-width: 4em 2em;
    border-color: transparent transparent red transparent;
}

.sleigh .head-little-santa .cheek-little-santa {
    position: absolute;
    top: 0.5em;
    left: 1em;
    height: .6em;
    width: .6em;
    background-color: #df7b79;
    border-radius: 50%;
}

.sleigh .head-little-santa .cheek-little-santa::after {
    content: '';
    position: absolute;
    top: 0;
    left: 1.4em;
    height: .6em;
    width: .6em;
    background-color: #df7b79;
    border-radius: 50%;
}

.sleigh .hat-little-santa .hat-circle {
    position: absolute;
    top: -4.8em;
    left: 1.6em;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .hand-little-santa {
    z-index: 0;
    position: absolute;
    top: 2.5em;
    left: 2.5em;
    border-color: transparent wheat transparent transparent;
    border-style: solid;
    border-width: 0.5em 0.5em;
}

.sleigh .hand-little-santa::after {
    z-index: 0;
    content: '';
    position: absolute;
    top: -0.5em;
    left: -2.3em;
    border-color: transparent transparent transparent wheat;
    border-style: solid;
    border-width: 0.5em 0.5em;
}

.sleigh .button-little-santa {
    position: absolute;
    top: 3em;
    left: 1.9em;
    width: .2em;
    height: .2em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .button-little-santa::before {
    content: '';
    position: absolute;
    top: 0.7em;
    left: 0;
    width: .2em;
    height: .2em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .button-little-santa::after {
    content: '';
    position: absolute;
    top: 1.5em;
    left: 0;
    width: .2em;
    height: .2em;
    background-color: white;
    border-radius: 50%;
}

.sleigh .hold-little-santa {
    z-index: 1;
    position: absolute;
    top: 0.7em;
    left: 2.7em;
    border-color: #00B000 transparent transparent transparent;
    border-style: solid;
    border-width: 2.1em 0.5em;
    transform: skew(-30deg);
}

.sleigh .circle-little-santa {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 3em;
    height: 3em;
    width: 3em;
    background-color: #00B000;
    border-radius: 50%;
}

.sleigh .bag {
    z-index: -2;
    position: absolute;
    top: .5em;
    left: -2em;
    height: 5em;
    width: 5em;
    background-color: darkred;
    border-radius: 50%;
}

.sleigh .big-bag .hold {
    position: absolute;
    top: -1.2em;
    left: -1em;
    border-width: 1em 1em;
    border-style: solid;
    border-color: transparent transparent darkred transparent;
    transform: rotateZ(-10deg);
}

.sleigh .big-bag .hold::after {
    content: '';
    position: absolute;
    top: -.2em;
    left: -1.1em;
    border-width: 0.5em .5em;
    border-style: solid;
    border-color: transparent transparent darkred transparent;
    transform: rotateZ(-50deg);
}

.sleigh .big-bag .hold::before {
    content: '';
    position: absolute;
    top: -.2em;
    left: .3em;
    border-width: .5em .5em;
    border-style: solid;
    border-color: transparent transparent darkred transparent;
    transform: rotateZ(50deg);
}

.sleigh .big-bag .rope {
    position: absolute;
    top: -.5em;
    left: -.7em;
    height: 1em;
    width: 1.7em;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-radius: 50%;
}

.third-page {
    z-index: 11;
    /*display: none;*/
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*santa claus*/
.santa-claus {
    position: relative;
    top: 5em;
    left: 10em;
}

.santa-claus .head .face {
    position: relative;
    top: 5em;
    left: 5em;
    overflow: hidden;
    background: #F5D2B9;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.santa-claus .head .beard {
    position: absolute;
    left: 5em;
    width: 10em;
    height: 5em;
    background: #fff;
    border-radius: 0 0 200px 200px;
}

.santa-claus .head .nose {
    position: absolute;
    background: #F59699;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    top: 9.5em;
    left: 9.5em;
}

.santa-claus .head .beard::before, .santa-claus .head .beard::after {
    content: '';
    display: inline-block;
    width: 4em;
    height: 2.5em;
    background: #e5eee5;
    transform: translateX(.9em);
}

.santa-claus .head .beard:before {
    border-radius: 70% 0;
}

.santa-claus .head .beard:after {
    border-radius: 0 70%;
}

/*.eyes .left:before, .eyes .right:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 4em;*/
/*    height: 4em;*/
/*    background: #F59699;*/
/*    border-radius: 50%;*/
/*}*/

/*.eyes .left:before {*/
/*    left: -30px;*/
/*}*/

/*.eyes .right:before {*/
/*     left: 2em;*/
/*}*/

.eyes .right span {
    position: absolute;
    top: 8em;
    left: 8em;
    background: #0072CB;
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 1em;
}

.eyes .left span {
    position: absolute;
    top: 8em;
    left: 11em;
    background: #0072CB;
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 1em;
}

.eyes .left:after, .eyes .right:after {
    content: '';
    position: absolute;
    width: 2em;
    height: 1em;
    background: #fff;
}

.eyes .right:after {
    top: 6.6em;
    left: 10.5em;
    border-radius: 0 2em;
}

.eyes .left:after {
    top: 6.6em;
    left: 7.5em;
    border-radius: 2em 0;
}

.santa-claus .body {
    position: relative;
    top: 0;
    left: 4em;
    width: 12em;
    height: 16em;
    background: #E74700;
    border-radius: 200px;
    z-index: -1;
}

.santa-claus .body:after {
    content: '';
    background: #F1E6D9;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 74px;
}

.left-hand {
    width: 5em;
    height: 3em;
    border-bottom: 40px solid #E74700;
    border-left: 40px solid #E74700;
    border-bottom-left-radius: 200px;
    position: absolute;
    left: -6em;
    top: -.9em;
}

.right-hand {
    background: #E74700;
    width: 200px;
    border-radius: 200px 200px 0 0;
    left: 2em;
    height: 120px;
    position: relative;
    top: 1.6em;
}

.left-hand:before, .right-hand:before {
    content: '';
    background: #fff;
    height: 20px;
    display: block;
    position: absolute;
    width: 47px;
}

.left-hand:after, .right-hand:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background: #F5D2B9;
}

.left-hand:before {
    left: -2.8em;
    transform: rotate(-11deg);
    top: -0.3em;
}

.left-hand:after {
    left: -2.8em;
    top: -1.5em;
    transform: rotate(-11deg);
    border-radius: 40px 40px 0 0;
}

.right-hand:before {
    right: -.2em;
    bottom: -.25em;
    width: 3em;
}

.right-hand:after {
    right: 0;
    bottom: -1.5em;
    border-radius: 0 0 40px 40px;
}

.cap {
    position: relative;
    width: 8em;
    height: 3em;
    background: #E74700;
    border-radius: 100px 0;
    top: -23em;
    left: 7em;
}

.cap:before, .cap:after {
    content: '';
    position: absolute;
    width: 2em;
    height: 1em;
    background: #fff;
}

.cap:before {
    border-radius: 30px 0;
    right: -2em;
    top: -1em;
}

.cap:after {
    border-radius: 0 30px;
    right: -2em;
    top: 0;
}

